
#Logs------------------------------------------------------------------------------------

logSearchInfo = false
logMoves = false
logGamesEvery = 10
logToStdout = true

#Match-----------------------------------------------------------------------------------

numGameThreads = 128
maxMovesPerGame = 1600
numGamesPerGating = 200

#Rules------------------------------------------------------------------------------------

koRules = SIMPLE,SIMPLE,SIMPLE,POSITIONAL,SITUATIONAL,SPIGHT
scoringRules = TERRITORY,AREA
multiStoneSuicideLegals = false,true

#Proportional to 1/board area, but half the weight for even board sizes.
bSizes = 9,11,13,15,17,19,  10,12,14,16,18
bSizeRelProbs = 1234,826,592,444,346,277,  500,347,255,195,154

komiMean = 7.5
komiStdev = 0.0
komiAllowIntegerProb = 0.0
handicapProb = 0.0
handicapStoneValue = 14.0
komiBigStdevProb = 0.0
komiBigStdev = 10.0

#Search limits-----------------------------------------------------------------------------------
maxVisits = 1000
numSearchThreads = 1

#GPU Settings-------------------------------------------------------------------------------

nnMaxBatchSize = 128
nnCacheSizePowerOfTwo = 21
nnMutexPoolSizePowerOfTwo = 14
numNNServerThreadsPerModel = 1
nnRandomize = true

#CUDA GPU settings--------------------------------------
#cudaGpuToUse = 0 #use gpu 0 for all server threads (numNNServerThreadsPerModel) unless otherwise specified per-model or per-thread-per-model
#cudaGpuToUseModel0 = 3 #use gpu 3 for model 0 for all threads unless otherwise specified per-thread for this model
#cudaGpuToUseModel1 = 2 #use gpu 2 for model 1 for all threads unless otherwise specified per-thread for this model
#cudaGpuToUseModel0Thread0 = 3 #use gpu 3 for model 0, server thread 0
#cudaGpuToUseModel0Thread1 = 2 #use gpu 2 for model 0, server thread 1

cudaUseFP16 = true
cudaUseNHWC = true

#Search Randomization------------------------------------------------------------------------------
#Values in this section can be specified per-bot as well

chosenMoveTemperatureEarly = 0.5
chosenMoveTemperatureHalflife = 16
chosenMoveTemperature = 0.2
chosenMoveSubtract = 0
chosenMovePrune = 1

rootNoiseEnabled = false
rootDirichletNoiseTotalConcentration = 10.83
rootDirichletNoiseWeight = 0.25

#Internal params------------------------------------------------------------------------------
#Values in this section can be specified per-bot as well

winLossUtilityFactor = 1.0
scoreUtilityFactor = 0.30
noResultUtilityForWhite = 0.0
drawEquivalentWinsForWhite = 0.5

rootEndingBonusPoints = 0.5
rootPruneUselessSuicides = true

cpuctExploration = 1.0
fpuReductionMax = 0.2
fpuUseParentAverage = true
valueWeightExponent = 0.5
visitsExponent = 1.0

mutexPoolSize = 64
numVirtualLossesPerThread = 3




