#Example config for C++ match runner
#See gtp_example.cfg for descriptions of most of these params

#Logs------------------------------------------------------------------------------------

logFile = match.log
logSearchInfo = false

#Bots-------------------------------------------------------------------------------------
#For multiple bots, you can specify their names as botName0,botName1, etc.
#If the bots are using different models, specify nnModel0, nnModel1, etc.

numBots=1
botName=FOO
nnModelFile=PATH_TO_MODEL

#Match-----------------------------------------------------------------------------------
numMatchThreads=8
numMatchGamesTotal=100000
maxMovesPerGame=1200

#Rules------------------------------------------------------------------------------------

koRules = SIMPLE,POSITIONAL,SITUATIONAL,SPIGHT
scoringRules = AREA,TERRITORY
multiStoneSuicideLegals = false,true

bSizes = 19,13,9
bSizeRelProbs = 90,5,5

komiMean = 7.5
komiStdev = 2.5
komiAllowIntegerProb = 0.2
handicapProb = 0.1
handicapStoneValue = 15
komiBigStdevProb = 0.1
komiBigStdev = 8

#Search limits-----------------------------------------------------------------------------------

#maxPlayouts = 100
maxVisits = 1000
#maxTime = 60

numSearchThreads = 1

#GPU Settings-------------------------------------------------------------------------------

nnMaxBatchSize = 16
nnCacheSizePowerOfTwo = 16
numNNServerThreadsPerModel = 1
nnRandomize = true

#gpuVisibleDeviceList = 0        #use gpu 0 only
#gpuVisibleDeviceList = 0,1,2    #use gpus 0,1,2
#perProcessGPUMemoryFraction = 0.49

#Search Randomization------------------------------------------------------------------------------
#Values in this section can be specified per-bot as well

chosenMoveTemperature = 0.15
chosenMoveSubtract = 5

rootNoiseEnabled = false
rootDirichletNoiseTotalConcentration = 10.83
rootDirichletNoiseWeight = 0.25

#Internal params------------------------------------------------------------------------------
#Values in this section can be specified per-bot as well

winLossUtilityFactor = 1.0
scoreUtilityFactor = 0.08
noResultUtilityForWhite = 0.0
drawUtilityForWhite = 0.0

cpuctExploration = 1.6
fpuReductionMax = 0.5

mutexPoolSize = 64
numVirtualLossesPerThread = 3




