*.[oa]
*.exe
*~
__pycache__
*.h5
*.log
*.cbp

tmp*.txt
test/
.vscode/
cpp/write
cpp/runtests
cpp/example
cpp/gtp
cpp/gtp.log
cpp/match
cpp/matchcuda
cpp/matchtensorflow
cpp/match.log
cpp/main
cpp/maincuda
cpp/mainopencl
cpp/katago
cpp/configs
cpp/evalsgf
cpp/runmatch.sh
cpp/runmatchauto.sh
cpp/runstuff.sh
cpp/runwrite.sh

cpp/program/gitinfo.h

data/
versions/
cpp/build

export_model_cuda.sh
mixmodels.sh
runfindposes.sh
runtraining.sh
runlztest*.sh

tmp
tmp.txt
test.txt
cpp/tmp
out.txt

# For clion IDE
.idea

# For cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

.DS_Store
GPATH
GRTAGS
GTAGS
