*.[oa]
*.exe
*~
__pycache__
*.h5

cpp/write
cpp/runtests
cpp/example
cpp/gtp
cpp/gtp.log
cpp/match
cpp/matchcuda
cpp/matchtensorflow
cpp/match.log
cpp/main
cpp/tmp.txt
cpp/tmp2.txt
cpp/configs
cpp/evalsgf
cpp/runmatch.sh
cpp/runstuff.sh
cpp/runwrite.sh

data/
versions/

export_model_cuda.sh
mixmodels.sh
runfindposes.sh
runtraining.sh

tmp
cpp/tmp
tmp.txt
out.txt

# For clion IDE
.idea

# For cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

